.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-section {
  margin-top: 25px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 25px;
}

.App-list{
  margin-top: 25px;
  margin-left: 0px;
  margin-right: 0px;
}

.App-button{
  position: left;
}

.App-input{
  margin-top: 20px;
}

.App-header {
  margin-top:10px;
  margin-left:400px;
  background-color: none;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  padding-left: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
