.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-section {
  margin-top: 25px !important;
  margin-left: 250px !important;
  margin-right: 250px !important;
  margin-bottom: 25px !important;
}

.App-list{
  margin-top: 25px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}


.App-input{
  margin-top: 20px !important;
  font-size: 30px !important;
}

.App-header {
  margin-top:10px !important;
  margin-left:470px !important;
  background-color: none;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  padding-left: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
