doctype html
html
  head
    title Todo App
    //- link( rel="stylesheet" href="/stylesheets/style.css" )
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css')
 

  body
    div#app
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')
    script( type="text/javascript" src="/js/app.bundle.js")
